<header class="navbar">
  <div class="logo">
    <a href="/" style="color: white; text-decoration: none">Hard&Custom</a>
  </div>

  <input type="text" placeholder="Buscar productos..." class="search-bar" />

  <!-- Nuevos enlaces de navegación -->
  <div style="display: flex; gap: 1.5rem; align-items: center">
    <a
      href="/registro"
      style="
        color: #ccc;
        text-decoration: none;
        font-size: 0.9rem;
        font-weight: bold;
      "
      >Crear cuenta</a
    >
    <a
      href="/login"
      style="
        color: #ccc;
        text-decoration: none;
        font-size: 0.9rem;
        font-weight: bold;
      "
      >Ingresar</a
    >
    <div class="cart-icon">
      <a href="/carrito" style="text-decoration: none">🛒</a>
    </div>
  </div>
</header>
