<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Hard&Custom</title>
<!-- Ruta absoluta al CSS servido por Express -->
<link rel="stylesheet" href="/styles/styles.css" />
